<article class="productView-descriptionssssss">
    <div class="container-table">
        <h1 class="table-title">ProGuide Battery <span style="color: #787878;">vs</span> Other Batteries</h1>
        <table class="comparison-table">
            <thead class="table-header">
                <tr>
                    <th></th>
                    <th>ProGuide</th>
                    <th>Others</th>
                </tr>
            </thead>
            <tbody id="comparison-tbody">
                {{#each product.custom_fields}}
                {{#contains name "layout_number"}}
                {{#contains value "1"}}
                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_18.svg" alt="svg">
                        <span>Lightweight and Long-Lasting</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://cdn11.bigcommerce.com/s-8xryzvxqo4/images/stencil/original/image-manager/fi-493808-1-.png?t=1753963268" alt="svg" height="24px" width="24px">
                        <span>Trusted by Professionals</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_16.svg" alt="svg">
                        <span>36+ month Free Replacement</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi-15.svg" alt="svg">
                        <span>10 Year Warranty</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_14.svg" alt="svg">
                        <span>45 Years of Expertise</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi-layout%20%286%29.svg"
                            alt="svg">
                        <span>Long term Reliability</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_12.svg" alt="svg">
                        <span>Built to Last</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_11.svg" alt="svg">
                        <span>Fast Charging</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>
                {{/contains}}
                {{#contains value "2"}}
                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_18.svg" alt="svg">
                        <span>Lightweight and Long-Lasting</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://cdn11.bigcommerce.com/s-8xryzvxqo4/images/stencil/original/image-manager/fi-493808-1-.png?t=1753963268" alt="svg" height="24px" width="24px">
                        <span>Trusted by Professionals</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_16.svg" alt="svg">
                        <span>36+ month Free Replacement</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi-15.svg" alt="svg">
                        <span>10 Year Warranty</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_14.svg" alt="svg">
                        <span>45 Years of Expertise</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi-layout%20%281%29.svg"
                            alt="svg">
                        <span>Maintenance Free Design</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi-layout%20%282%29.svg"
                            alt="svg">
                        <span>Spill & Leak Proof</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_11.svg" alt="svg">
                        <span>Fast Charging</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>
                {{/contains}}
                {{#contains value "3"}}
                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_18.svg" alt="svg">
                        <span>Lightweight and Long-Lasting</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://cdn11.bigcommerce.com/s-8xryzvxqo4/images/stencil/original/image-manager/fi-493808-1-.png?t=1753963268" alt="svg" height="24px" width="24px">
                        <span>Trusted by Professionals</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi-layout%20%283%29.svg"
                            alt="svg">
                        <span>100% Recycleable</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_12.svg" alt="svg">
                        <span>Built to Last</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi-layout%20%284%29.svg"
                            alt="svg">
                        <span>High Performance</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi-layout%20%285%29.svg"
                            alt="svg">
                        <span>Cutting Edge Technology</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_12.svg" alt="svg">
                        <span>45 Years of Expertise</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>
                {{/contains}}
                {{#contains value "4"}}
                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_18.svg" alt="svg">
                        <span>Lightweight and Long-Lasting</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://cdn11.bigcommerce.com/s-8xryzvxqo4/images/stencil/original/image-manager/fi-493808-1-.png?t=1753963268" alt="svg" height="24px" width="24px">
                        <span>100% Recyclable</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi-layout%20%286%29.svg"
                            alt="svg">
                        <span>Long term Reliability</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_12.svg" alt="svg">
                        <span>Built to Last</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi-layout%20%284%29.svg"
                            alt="svg">
                        <span>High Performance</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi-layout%20%285%29.svg"
                            alt="svg">
                        <span>Cutting Edge Technology</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_12.svg" alt="svg">
                        <span>45 Years of Expertiset</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>
                {{/contains}}
                 {{#contains value "5"}}
                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_18.svg" alt="svg" class="table-svg">
                        <span>Lightweight and Long-Lasting</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi-layout%20%286%29.svg" alt="svg" height="24px" width="24px" class="table-svg">
                        <span>Long term Reliability</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>


                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_12.svg" alt="svg" class="table-svg">
                        <span>Built to Last</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi-layout%20%284%29.svg"
                            alt="svg" class="table-svg">
                        <span>High Performance</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi-layout%20%285%29.svg"
                            alt="svg" class="table-svg">
                        <span>Cutting Edge Technology</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>

                <tr class="table-row">
                    <td class="feature-cell">
                        <img src="https://store-8xryzvxqo4.mybigcommerce.com/product_images/fi_14.svg" alt="svg" class="table-svg">
                        <span>45 Years of Expertise</span>
                    </td>
                    <td class="proguide-cell">
                        <span class="check-mark">✓</span>
                    </td>
                    <td class="others-cell">
                        <span class="x-mark">✖</span>
                    </td>
                </tr>
                {{/contains}}               
                {{/contains}}
                {{/each}}
            </tbody>
        </table>
    </div>
</article>
